# Document retrieval from Wikipedia data

In [1]:
import turicreate

# Load some text data from Wikipedia

In [2]:
people = turicreate.SFrame('people_wiki.sframe')

In [3]:
people

Columns:
	URI	str
	name	str
	text	str

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[59071 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Explore data

## Taking a look at the entry for President Obama

In [17]:
modiji = people[people['name'] == 'Narendra Modi']

In [18]:
modiji

Columns:
	URI	str
	name	str
	text	str

Rows: Unknown

Data:
+-------------------------------+---------------+-------------------------------+
|              URI              |      name     |              text             |
+-------------------------------+---------------+-------------------------------+
| <http://dbpedia.org/resour... | Narendra Modi | narendra damodardas modi g... |
+-------------------------------+---------------+-------------------------------+
[? rows x 3 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [19]:
modiji['text']

dtype: str
Rows: ?
['narendra damodardas modi gujarati nrendr dmodrds modi 13px born 17 september 1950 is the 15th and current prime minister of india in office since may 2014 modi a leader of the bharatiya janata party bjp previously served as the chief minister of gujarat from 2001 to 2014 he is currently the member of parliament mp from varanasimodi led the bjp in the 2014 general election which resulted in an outright majority for the bjp in the lok sabha the lower house of the indian parliament the last time that any party had secured an outright majority in the lok sabha was in 1984 since then modi has also been credited for the bjps electoral victories in the states of haryana and maharashtra in october 2014modi is a hindu nationalist and a member of the rashtriya swayamsevak sangh rss he is a controversial figure both within india as well as internationally as his administration has been criticised for failing to act to prevent the 2002 gujarat riots modi has been praised for his economic policies which are credited with creating an environment for a high rate of economic growth in gujarat however his administration has also been criticised for failing to make a significant positive impact upon the human development of the state', ... ]

## Explore the entry for actor SRK

In [16]:
srk = people[people['name'] == 'Shah Rukh Khan']
srk['text']

dtype: str
Rows: ?
['shah rukh khan also known as srk born shahrukh khan 2 november 1965 is an indian film actor producer and television personality referred to in the media as baadshah of bollywood king of bollywood or king khan he has appeared in over 80 bollywood films in genres including romance action and comedy described by the los angeles times as perhaps the worlds biggest movie star with a significant following in asia and the indian diaspora worldwide khan was reportedly one of the richest actors in the world in 2014 with an estimated net worth of over us400 million his work in bollywood has earned him numerous accolades including 14 filmfare awardskhan started his career in theatre and appeared in several television series in the late 1980s he made his bollywood debut in 1992 with deewana early in his career khan was recognised for his unconventional choice of portraying dark roles in the films darr 1993 baazigar 1993 and anjaam 1994 he rose to prominence by starring in a series of romantic dramas including dilwale dulhania le jayenge 1995 dil to pagal hai 1997 kuch kuch hota hai 1998 and kabhi khushi kabhie gham 2001 he earned critical acclaim for his portrayal of an alcoholic in devdas 2002 a nasa scientist in swades 2004 a hockey coach in chak de india 2007 and a man with asperger syndrome in my name is khan 2010 many of his films display themes of indian national identity and connections with diaspora communities and gender racial social and religious differences and grievances for his contributions to film the government of india honoured him with the padma shri and the government of france has awarded him both the ordre des arts et des lettres and the lgion dhonneurkhan is currently cochairman of the motion picture production company red chillies entertainment and its subsidiaries and is the coowner of the indian premier league cricket team kolkata knight riders in 2007 he made his debut as a television presenter with the star plus game show kaun banega crorepati the media often label him as brand srk because of his brand endorsement and entrepreneurship ventures khans philanthropic endeavours have provided health care and disaster relief and he was honoured with unescos pyramide con marni award in 2011 for his support of childrens education he regularly features in listings of the most influential people in indian culture and in 2008 newsweek named him one of their 50 most powerful people in the world', ... ]

# Word counts for Modi acticle

In [24]:
modiji['word_count'] = turicreate.text_analytics.count_words(modiji['text'])

In [25]:
modiji

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 1

Data:
+-------------------------------+---------------+-------------------------------+
|              URI              |      name     |              text             |
+-------------------------------+---------------+-------------------------------+
| <http://dbpedia.org/resour... | Narendra Modi | narendra damodardas modi g... |
+-------------------------------+---------------+-------------------------------+
+-------------------------------+
|           word_count          |
+-------------------------------+
| {'state': 1.0, 'developmen... |
+-------------------------------+
[1 rows x 4 columns]

In [26]:
print (modiji['word_count'])

[{'state': 1.0, 'development': 1.0, 'human': 1.0, 'upon': 1.0, 'positive': 1.0, 'growth': 1.0, 'environment': 1.0, 'creating': 1.0, 'are': 1.0, 'significant': 1.0, 'make': 1.0, 'policies': 1.0, 'economic': 2.0, 'praised': 1.0, 'riots': 1.0, '2002': 1.0, 'prevent': 1.0, 'internationally': 1.0, 'parliament': 2.0, 'he': 2.0, 'act': 1.0, '2001': 1.0, 'outright': 2.0, 'from': 2.0, 'as': 4.0, 'high': 1.0, 'to': 4.0, 'any': 1.0, 'served': 1.0, 'previously': 1.0, 'his': 3.0, '1950': 1.0, 'a': 6.0, 'may': 1.0, 'september': 1.0, 'credited': 2.0, '17': 1.0, 'which': 2.0, '13px': 1.0, '2014modi': 1.0, 'leader': 1.0, 'gujarat': 3.0, 'modi': 5.0, 'victories': 1.0, 'led': 1.0, 'nrendr': 1.0, 'chief': 1.0, 'figure': 1.0, 'dmodrds': 1.0, 'secured': 1.0, 'damodardas': 1.0, 'general': 1.0, 'janata': 1.0, 'mp': 1.0, 'sabha': 2.0, 'and': 3.0, '2014': 3.0, 'rate': 1.0, 'india': 2.0, 'impact': 1.0, 'time': 1.0, 'bjp': 3.0, 'since': 2.0, 'of': 9.0, 'the': 18.0, '15th': 1.0, 'party': 2.0, 'currently': 1.0, 'maharashtra': 1.0, 'current': 1.0, 'gujarati': 1.0, 'minister': 2.0, 'member': 2.0, 'in': 9.0, 'majority': 2.0, 'electoral': 1.0, 'however': 1.0, 'office': 1.0, 'election': 1.0, 'resulted': 1.0, 'an': 3.0, 'for': 6.0, 'lok': 2.0, 'both': 1.0, 'house': 1.0, 'lower': 1.0, 'with': 1.0, 'indian': 1.0, 'states': 1.0, 'last': 1.0, 'that': 1.0, 'prime': 1.0, 'been': 4.0, 'had': 1.0, 'varanasimodi': 1.0, 'was': 1.0, 'within': 1.0, 'hindu': 1.0, 'bharatiya': 1.0, 'rashtriya': 1.0, 'narendra': 1.0, '1984': 1.0, 'also': 2.0, 'administration': 2.0, 'then': 1.0, 'has': 4.0, 'well': 1.0, 'bjps': 1.0, 'born': 1.0, 'haryana': 1.0, 'october': 1.0, 'nationalist': 1.0, 'rss': 1.0, 'swayamsevak': 1.0, 'is': 4.0, 'sangh': 1.0, 'controversial': 1.0, 'criticised': 2.0, 'failing': 2.0}]

## Find most common words in Obama article

In [28]:
modiji.stack('word_count',new_column_name=['word','count'])

Columns:
	URI	str
	name	str
	text	str
	word	str
	count	float

Rows: 119

Data:
+-------------------------------+---------------+-------------------------------+
|              URI              |      name     |              text             |
+-------------------------------+---------------+-------------------------------+
| <http://dbpedia.org/resour... | Narendra Modi | narendra damodardas modi g... |
| <http://dbpedia.org/resour... | Narendra Modi | narendra damodardas modi g... |
| <http://dbpedia.org/resour... | Narendra Modi | narendra damodardas modi g... |
| <http://dbpedia.org/resour... | Narendra Modi | narendra damodardas modi g... |
| <http://dbpedia.org/resour... | Narendra Modi | narendra damodardas modi g... |
| <http://dbpedia.org/resour... | Narendra Modi | narendra damodardas modi g... |
| <http://dbpedia.org/resour... | Narendra Modi | narendra damodardas modi g... |
| <http://dbpedia.org/resour... | Narendra Modi | narendra damodardas modi g... |
| <http://dbpedia.org/resour... | Narendra Modi | narendra damodardas modi g... |
| <http://dbpedia.org/resour... | Narendra Modi | narendra damodardas modi g... |
+-------------------------------+---------------+-------------------------------+
+-------------+-------+
|     word    | count |
+-------------+-------+
|    state    |  1.0  |
| development |  1.0  |
|    human    |  1.0  |
|     upon    |  1.0  |
|   positive  |  1.0  |
|    growth   |  1.0  |
| environment |  1.0  |
|   creating  |  1.0  |
|     are     |  1.0  |
| significant |  1.0  |
+-------------+-------+
[119 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [30]:
modiji_word_count_table = modiji[['word_count']].stack('word_count', new_column_name = ['word','count'])

In [37]:
modiji_word_count_table

Columns:
	word	str
	count	float

Rows: 119

Data:
+-------------+-------+
|     word    | count |
+-------------+-------+
|    state    |  1.0  |
| development |  1.0  |
|    human    |  1.0  |
|     upon    |  1.0  |
|   positive  |  1.0  |
|    growth   |  1.0  |
| environment |  1.0  |
|   creating  |  1.0  |
|     are     |  1.0  |
| significant |  1.0  |
+-------------+-------+
[119 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [32]:
modiji_word_count_table.sort('count',ascending=False)

Columns:
	word	str
	count	float

Rows: 119

Data:
+------+-------+
| word | count |
+------+-------+
| the  |  18.0 |
|  in  |  9.0  |
|  of  |  9.0  |
|  a   |  6.0  |
| for  |  6.0  |
| modi |  5.0  |
|  to  |  4.0  |
|  as  |  4.0  |
|  is  |  4.0  |
| been |  4.0  |
+------+-------+
[119 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Compute TF-IDF for the entire corpus of articles

In [38]:
people['word_count'] = turicreate.text_analytics.count_words(people['text'])

In [39]:
people

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'melbourne': 1.0, 'parade... |
| alfred j lewy aka sandy le... | {'time': 1.0, 'each': 1.0,... |
| harpdog brown is a singer ... | {'society': 1.0, 'hamilton... |
| franz rottensteiner born i... | {'kurdlawitzpreis': 1.0, '... |
| henry krvits born 30 decem... | {'curtis': 1.0, '2007': 1.... |
| sam henderson born october... | {'asses': 1.0, 'sic': 1.0,... |
| aaron lacrate is an americ... | {'streamz': 1.0, 'includin... |
| trevor ferguson aka john f... | {'concordia': 1.0, 'creati... |
| grant nelson born 27 april... | {'heavies': 1.0, 'new': 1.... |
| cathy caruth born 1955 is ... | {'2002': 1.0, 'harvard': 1... |
+-------------------------------+-------------------------------+
[59071 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [44]:
people['tfidf'] = turicreate.text_analytics.tf_idf(people['text'])

In [45]:
people

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'melbourne': 1.0, 'parade... |
| alfred j lewy aka sandy le... | {'time': 1.0, 'each': 1.0,... |
| harpdog brown is a singer ... | {'society': 1.0, 'hamilton... |
| franz rottensteiner born i... | {'kurdlawitzpreis': 1.0, '... |
| henry krvits born 30 decem... | {'curtis': 1.0, '2007': 1.... |
| sam henderson born october... | {'asses': 1.0, 'sic': 1.0,... |
| aaron lacrate is an americ... | {'streamz': 1.0, 'includin... |
| trevor ferguson aka john f... | {'concordia': 1.0, 'creati... |
| grant nelson born 27 april... | {'heavies': 1.0, 'new': 1.... |
| cathy caruth born 1955 is ... | {'2002': 1.0, 'harvard': 1... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'melbourne': 3.8914310119... |
| {'time': 1.325334207420049... |
| {'society': 2.444804726208... |
| {'kurdlawitzpreis': 10.986... |
| {'curtis': 5.2995200328853... |
| {'asses': 9.60020102810530... |
| {'streamz': 10.98649538922... |
| {'concordia': 6.2502969408... |
| {'heavies': 8.907053847545... |
| {'2002': 1.875312588782230... |
+-------------------------------+
[59071 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## Examine the TF-IDF for the Modi ji article

In [47]:
modiji = people[people['name'] == 'Narendra Modi']
modiji[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 119

Data:
+------------+--------------------+
|    word    |       tfidf        |
+------------+--------------------+
|    modi    | 39.953815578356014 |
|  gujarat   | 20.937486611978173 |
|    bjp     | 20.578083012540308 |
|  outright  | 12.253365969727044 |
|    lok     | 12.19229252200688  |
|   sabha    | 11.701393904349866 |
|  dmodrds   | 10.986495389225194 |
| damodardas | 10.986495389225194 |
|   nrendr   | 10.986495389225194 |
|  2014modi  | 10.986495389225194 |
+------------+--------------------+
[119 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## Examine the TF-IDF for SRK

In [48]:
srk = people[people['name'] == 'Shah Rukh Khan']
srk[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 240

Data:
+--------------+--------------------+
|     word     |       tfidf        |
+--------------+--------------------+
|     khan     | 30.980696962453052 |
|  bollywood   | 29.051728283256825 |
|     srk      | 21.972990778450388 |
|     kuch     | 18.08117048033976  |
|    indian    | 17.555780763292287 |
|     hai      | 13.259573125071205 |
|   diaspora   | 12.55393037582572  |
|  awardskhan  | 10.986495389225194 |
|    swades    | 10.986495389225194 |
| dhonneurkhan | 10.986495389225194 |
+--------------+--------------------+
[240 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Manually evaluate the distance between certain people's articles

In [68]:
raga = people[people['name'] == 'Rahul Gandhi']
beckham = people[people['name'] == 'David Beckham']

## Is Modi ji closer to Rahul Gandhi or to Beckam?

In [72]:
#The lower the distance the closer article are
turicreate.distances.cosine(modiji['tfidf'][0],raga['tfidf'][0])

0.9211238185260265

In [66]:
turicreate.distances.cosine(modiji['tfidf'][0],srk['tfidf'][0])

0.9784544346481524

In [73]:
turicreate.distances.cosine(modiji['tfidf'][0],beckham['tfidf'][0])

0.9900786304486028

# Apply nearest neighbors for retrieval of Wikipedia articles

## Build the NN model

In [74]:
knn_model = turicreate.nearest_neighbors.create(people,features=['tfidf'],label='name')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

## Use model for retrieval... for example, who is closest to Modi ji?

In [75]:
#By default k=5
knn_model.query(modiji)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 3       | 0.00507863  | 831.125ms    |

| Done         |         | 100         | 1.06s        |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------------------+--------------------+------+
| query_label |       reference_label       |      distance      | rank |
+-------------+-----------------------------+--------------------+------+
|      0      |        Narendra Modi        |        0.0         |  1   |
|      0      |        Anupriya Patel       | 0.7842105263157895 |  2   |
|      0      |        Ram Jethmalani       |        0.8         |  3   |
|      0      |         Anant Geete         | 0.8105263157894737 |  4   |
|      0      | Lakshman Singh (politician) | 0.8155339805825242 |  5   |
+-------------+-----------------------------+--------------------+------+
[5 rows x 4 columns]

## Other examples of retrieval

In [76]:
swift = people[people['name'] == 'Taylor Swift']

In [77]:
knn_model.query(swift)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 33.645ms     |

| Done         |         | 100         | 537.118ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+--------------------+------+
| query_label | reference_label  |      distance      | rank |
+-------------+------------------+--------------------+------+
|      0      |   Taylor Swift   |        0.0         |  1   |
|      0      | Carrie Underwood | 0.7623188405797101 |  2   |
|      0      |   Alicia Keys    | 0.7647058823529411 |  3   |
|      0      |  Jordin Sparks   | 0.7696335078534031 |  4   |
|      0      |   Leona Lewis    | 0.7761194029850746 |  5   |
+-------------+------------------+--------------------+------+
[5 rows x 4 columns]

In [78]:
jolie = people[people['name'] == 'Angelina Jolie']

In [80]:
knn_model.query(jolie)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 11.768ms     |

| Done         |         | 100         | 402.079ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------+--------------------+------+
| query_label |  reference_label   |      distance      | rank |
+-------------+--------------------+--------------------+------+
|      0      |   Angelina Jolie   |        0.0         |  1   |
|      0      |     Brad Pitt      | 0.7840236686390533 |  2   |
|      0      |   Julianne Moore   | 0.7958579881656804 |  3   |
|      0      | Billy Bob Thornton |  0.80306905370844  |  4   |
|      0      |   George Clooney   |     0.8046875      |  5   |
+-------------+--------------------+--------------------+------+
[5 rows x 4 columns]

In [81]:
arnold = people[people['name'] == 'Arnold Schwarzenegger']

In [82]:
knn_model.query(arnold)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 12.36ms      |

| Done         |         | 100         | 524.466ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------------+--------------------+------+
| query_label |    reference_label    |      distance      | rank |
+-------------+-----------------------+--------------------+------+
|      0      | Arnold Schwarzenegger |        0.0         |  1   |
|      0      |     Jesse Ventura     | 0.8189189189189189 |  2   |
|      0      |     John Kitzhaber    | 0.8246153846153846 |  3   |
|      0      |     Lincoln Chafee    | 0.8338762214983714 |  4   |
|      0      |      Anthony Foxx     | 0.8339100346020761 |  5   |
+-------------+-----------------------+--------------------+------+
[5 rows x 4 columns]

In [86]:
knn_model.query(srk,k=10)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 13.228ms     |

| Done         |         | 100         | 389.18ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 10

Data:
+-------------+------------------------+--------------------+------+
| query_label |    reference_label     |      distance      | rank |
+-------------+------------------------+--------------------+------+
|      0      |     Shah Rukh Khan     |        0.0         |  1   |
|      0      |         Kajol          | 0.8138888888888889 |  2   |
|      0      | Aishwarya Rai Bachchan | 0.830238726790451  |  3   |
|      0      |      Akshay Kumar      | 0.8349282296650717 |  4   |
|      0      |       Aamir Khan       | 0.8354114713216958 |  5   |
|      0      |     Saif Ali Khan      | 0.8372093023255813 |  6   |
|      0      |      Arjun Rampal      | 0.8374233128834356 |  7   |
|      0      |       Tom Cruise       | 0.8405063291139241 |  8   |
|      0      |     Madhuri Dixit      | 0.8414985590778098 |  9   |
|      0      |     Michael Keaton     | 0.8431952662721893 |  10  |
+-------------+------------------------+--------------------+------+
[10 rows x 4 columns]